VITE_FIREBASE_API_KEY=AIzaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_FIREBASE_AUTH_DOMAIN=depois-da-meia-noite.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=depois-da-meia-noite
VITE_FIREBASE_STORAGE_BUCKET=depois-da-meia-noite.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=000000000000
VITE_FIREBASE_APP_ID=1:000000000000:web:xxxxxxxxxxxxxxxxxxxxxx
